* 
{
	box-sizing: border-box;
}

.h1 
{
	font-size: 50px;
  	word-break: break-all;
}

.row5 
{
  	margin: 8px -16px;
}
.row5,.row5 > .column5 
{
  	padding: 8px;
}

.column5 
{
  	float: left;
 	width: 33%;
}
.row5:after 
{
  	content: "";
  	display: table;
  	clear: both;
}
.content5 
{
  	background-color: white;
  	padding: 10px;
}

